 #side, #top {
    position: absolute;
    bottom: 50%;
    left: 0%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: left;
    display:block;
    color: #ffffff;
    font-family: sans-serif;
}
#side, #top {
    top: 50%;
    font-style: italic;
}
#top {
    left: 50%;
}